.basic-mark {
    animation: warningFlashlight 6s infinite;
}

.basic-mark:hover {
    background-color: rgba(245, 245, 245, 1) !important; /* Soft grey for hover */
}

@keyframes warningFlashlight {
    0% {
        background-color: #ffe5b4; /* Soft light orange */
    }
    50% {
        background-color: #ff9800; /* Medium orange */
    }
    100% {
        background-color: #ffe5b4; /* Soft light orange */
    }
}

.basic-focus {
    animation: focusFlashlight 4s infinite;
}

@keyframes focusFlashlight {
    0% {
        background-color: #b3e5fc; /* Soft light blue */
    }
    50% {
        background-color: #ff9800; /* Medium orange */
    }
    100% {
        background-color: #b3e5fc; /* Soft light blue */
    }
}

.basic-focus:hover {
    background-color: rgba(225, 225, 225, 1) !important; /* Soft grey for hover on focus */
}

.batch-mark {
    animation: batchMarkFlashlight 6s infinite;
}

.batch-mark:hover {
    background-color: rgba(245, 245, 245, 1) !important; /* Soft grey for hover */
}

@keyframes batchMarkFlashlight {
    0% {
        background-color: #f7fcb3; /* Soft light yellow */
    }
    50% {
        background-color: #ffee33; /* Medium yellow */
    }
    100% {
        background-color: #f7fcb3; /* Soft light yellow */
    }
}


.wheels-mark {
    animation: wheelsMarkFlashlight 6s infinite;
}

.wheels-mark:hover {
    background-color: rgba(245, 245, 245, 1) !important; /* Soft grey for hover */
}

@keyframes wheelsMarkFlashlight {
    0% {
        background-color: #b3f7fc; /* Soft light yellow */
    }
    50% {
        background-color: #69e9f2; /* Medium yellow */
    }
    100% {
        background-color: #b3f7fc; /* Soft light yellow */
    }
}