
h2 {
    margin-bottom: 30px;
}

.date-range-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.date-range-container input {
    max-width: 200px;
}

.batch-details {
    display: none;
    padding: 15px;
    background-color: #fafafa;
    width: 100%;
}

.batch-row:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.result-image {
    width: 35px;
    height: 35px;
}
