@import url(../../designSettings.css);

:root {
  /* wheel-stack */
  /* size */
  --wheel-stack-height: 125px;
  --wheel-stack-width: 125px;
  /* base platform sizes */
  --wheel-stack-base-height: 100px;
  --wheel-stack-base-width: 100px;
  --wheel-stack-base-min-width: 85px;
  --wheel-stack-base-min-height: 85px;
  /* bg */
  --wheel-stack-bg-color: var(--background-color);
  --wheel-stack-bg-block-color: var(--block-color);
  --wheel-stack-bg-cell-block-color: var(--cell-block-color);
  /* border */
  --wheel-stack-border-radius: 50%;
  --wheel-stack-border-width: 4px;
  --wheel-stack-border-style: var(--basic-border-elements);
  --wheel-stack-border-color: var(--primary-color);
  /* font */
  --wheel-stack-text-color: var(--text-color);
  --wheel-stack-font-size: 50px;
  --wheel-stack-font-family: 'Helvetica, Arial, sans-serif';
  --wheel-stack-align-items: center;
  --wheel-stack-justify-content: center;
  /* positioning */
  --wheel-stack-margin: 5px;
  --wheel-stack-display: flex;
  /* anim-trans */
  --wheel-stack-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  /* ----- */
  /* Identifier */
  --wheel-stack-identifier-border: 'none';
  --wheel-stack-identifier-font-size: 45px;
  --wheel-stack-identifier-hover-bg-color: ;
  /* ----- */
  /* whiteSpace */
  --wheel-stack-whitespace-border: 'none';
  --wheel-stack-whitespace-display: 'none';
  /* ----- */
  /* wheel-stack-context-menu */
  --wheel-stack-context-menu-position: absolute;
  --wheel-stack-context-menu-border-width: 4px;
  --wheel-stack-context-menu-border-style: var(--basic-border-elements);
  --wheel-stack-context-menu-border-color: var(--border-color);
  --wheel-stack-context-menu-padding: var(--basic-context-menu-paddig);
  --wheel-stack-context-menu-z-index: 1000;
  --wheel-stack-context-menu-display: flex;
  --wheel-stack-context-menu-display-hidden: none;
  /* ----- */
  /* wheel-stack-marked */
  --wheel-stack-marked-background-color: #81ed1d;
  /* ----- */
}