.nav-button {
    background-color: #202327;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #54606c;
}

.nav-container {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(3, 4, 5, 0.4);
    padding: 10px;
    z-index: 1000000000; /* there's was no order while creating managerPage, so we need some absurd z-index :) */
    width: auto;
    display: flex;
    flex-direction: column;
}

.nav-container .btn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.nav-container .btn:last-child {
    margin-bottom: 0;
}
