
.batch-menu {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 310px;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.batch-menu.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}


.batch-menu.hide {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease, transform 0.6s ease;
}

.batch-menu ul {
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

.batch-menu li {
  padding: 12px;
  text-align: center;
  border-top: 1px dotted black;
  background-color: white;
  font-size: 1.25rem;
  transition: background-color 0.2s ease;
}

.batch-menu li.status {
  position: relative;
}

.batch-menu li:hover {
  font-size: 1.27rem;
  transition: font-size 0.3s ease;
  background-color: rgb(243, 241, 241);
}

.batch-menu li:first-child {
  border-top: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.batch-menu li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: none;
}

/* 2x2 grid for buttons */
.batch-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.batch-buttons button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-size: 1.2rem;
}

/* Dynamic button hover */
.batch-buttons button:hover {
  background-color: #555;
  transform: translateY(-1px);
  font-size: 1.21rem;
}

.text-label {
  font-weight: 700; /* Slightly bolder for text labels */
  color: #333; /* Darker color for better readability */
}

.data-value {
  font-weight: 600; /* Lighter font weight for data */
  color: #444; /* Slightly lighter color for data */
}


.expand-ind {
  position: relative;
}


.expand-ind::after {
  content: '';
  position: absolute;
  bottom: 0px; /* Positioning the triangle below the container */
  left: 50%; /* Centering horizontally */
  transform: translateX(-50%); /* Ensuring it's centered */
  border-width: 6px 14px; /* Adjust size */
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  transition: border-color 0.3s ease;
}

.expand-ind.open::after {
  border-color: transparent transparent #333 transparent;
}

.batch-menu li.expandable {
  padding: 0;
  position: relative;
  background-color: rgb(225, 225, 230);
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
  border: none;
  width: 100%;
}

.batch-menu li.expandable.open {
  height: 150px;
  opacity: 1;
  padding: 12px;
}


/* EXPANDABLE INSIDES */
.full-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.full-toggle-label {
  top: 5px;
  right: 40px;
}

