

.wheelstack-menu {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 275px;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.wheelstack-menu.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.wheelstack-menu.hide {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease, transform 0.6s ease;
}

.wheelstack-menu ul {
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.wheelstack-menu li {
  padding: 12px;
  text-align: center;
  border-top: 2px dashed black;
  background-color: white;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
  z-index: 111;
}

.wheelstack-menu li.blocked {
  background-color: rgb(245, 100, 100) !important;
}

.wheelstack-menu li.blocked:hover {
  background-color: rgb(227, 166, 151) !important;
}

.wheelstack-menu li:hover {
  font-size: 1.22rem;
  transition: font-size 0.3s ease;
  background-color: #94d79b;
}

/* Empty record hover effect */
.wheelstack-menu li.empty-record {
  font-weight: bold;
  display: block;
  text-align: center;
  color: black;
}

.wheelstack-menu li.empty-record:hover {
  background-color: #adb6a7;
}

/* First item gets no top border */
.wheelstack-menu li:nth-child(1) {
  border-top: none;
  /* border-top-left-radius: 6px;
  border-top-right-radius: 6px; */
}


.wheelstack-menu li:nth-last-child(2) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: none;
}


.wheelstack-menu li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: none;
}

/* Batch number styling */
.info-record {
  text-align: center;
  padding: 12px;
  font-size: 1.20rem;
  font-weight: bold;
  background-color: #f5f4f4;
  color: #4a4a4a;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 1.5px dashed black;
  position: relative;
  overflow: hidden;
}

.info-record:hover {
  font-size: 1.18rem;
  transition: font-size 0.3s ease;
}

.info-record:hover {
  background-color: #e0e0e0;
  color: #000;
}

.info-record.blocked {
  background-color: #f8d7da;
  color: #721c24;
}

.info-record.blocked:hover {
  background-color: #f5c6cb;
  color: #721c24;
}


.wheelstack-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 12px;
  min-height: 120px;
  place-items: center;
}

.wheelstack-buttons.horizontal {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: none;
  min-height: 0px;
}

.wheelstack-buttons button {
  cursor: pointer;
  font-size: 1.15rem;
}

.wheelstack-buttons button.return-view {
  top: 3%;
  left: 3%;
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  padding: 0;
  margin: 0;
}

.wheelstack-buttons button.return-view img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: none;
}

.batch-checkbox {
  position: absolute;
  top: 3%;
  right: 5px;
  width: 22px;
  height: 22px;
}

.batch-checkbox-label {
  position: absolute;
  top: 3%;
  right: 35px;
}

.form-select.centered {
  text-align-last: center;
}

.wheelstack-menu li.expandable {
  padding: 0;
  position: relative;
  background-color: rgb(225, 225, 230);
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.2s ease;
  border: none;
  width: 100%;
}

.wheelstack-menu li.expandable.open {
  height: 50px;
  opacity: 1;
  padding: 12px;
  cursor: pointer;
}

.wheelstack-menu li.expandable.open.clicked {
  background-color: #21b6c1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: background-color 0.01s ease, box-shadow 0.01s ease transform 0.4 ease;
  transform: translateY(-1px);
}

.wheelstack-menu li.expandable.open:hover {
  background-color: rgb(215, 215, 220); /* Slightly darker background */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}


/* WTF this? :) */
.wheelstack-menu li.buttons-container {
  display: flex;
  flex-direction: row;
  height: 0px;
  opacity: 1;
  gap: 15px;
  margin-top: 0px;
  transition: height 0.5s ease-in-out, opacity 0.6s ease-in-out;
  position: relative;
  padding: 15px 0% 0% 0%;
}

.wheelstack-menu li.buttons-container.open {
  height: 50px;
  margin-bottom: 40px;
  transition: height 0.5s ease-in-out, opacity 0.6s ease-in-out;
  opacity: 1;
  padding: 5% 20% 0% 20%;
}

.wheelstack-menu li.buttons-container::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(0px);
  opacity: 1;
  border-width: 14px 30px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
  transition: height 0.5s ease-in-out, border-color 0.5s ease, opacity 0.6s ease-in-out;
}

.wheelstack-menu li.buttons-container.open::after {
  bottom: -5px;
  transform: translateX(-50%) translateY(40px);
  transition: height 0.5s ease-in-out, border-color 0.5s ease, opacity 0.6s ease-in-out;
  border-color: #000000 transparent transparent transparent;
}

.wheelstack-menu li.buttons-container:hover {
  font-size: inherit;
  background-color: inherit; 
}

.wheelstack-menu li.buttons-container button {
  padding: 0% 2% 0% 2%;
  height: 45px;
  width: 48px;
  /* background-color: rgb(240, 239, 239); */
  opacity: 1;
  transition: border-color 0.5s ease, opacity 0.6s ease-in-out;
}

.wheelstack-menu li.buttons-container button img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
