
.wheelstack-context-menu-container {
    position: absolute;
    background-color: #f1f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 111111;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 500px;
    max-height: 660px;
    overflow-y: auto;
    border-radius: 8px;
}


.wheelstack-context-menu-wheels-container {
    position: relative;
    background-color: #f1f0f0;
    border: 1px solid #ccc;
    z-index: 111111;
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.wheelstack-context-menu-row {
    margin: 10px;
    display: flex;
    background-color: #ebe8e8;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    grid-column: span 2;
}

.wheelstack-context-menu-row:hover {
    background-color: #e7e4e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.wheelstack-context-menu-row p {
    padding: 8px 12px 8px 12px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    color: #333;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

.wheelstack-context-menu-row.blocked-by {
    background-color: #cb3b3b;
}

.wheelstack-context-menu-row.blocked-by:hover {
    background-color: #da7a7a;
}

.wheelstack-context-menu-buttons-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    grid-template-rows: repeat(2, auto);   /* Adjusts the row height automatically */
    gap: 15px; /* Space between buttons */
    row-gap: 10px;
    padding: 5px 15px;
    width: 100%;
    max-height: 150px;
    align-items: center;
}



.wheelstack-context-menu-button {
    flex: 1; /* Make buttons fill the row */
    padding: 10px;
    font-size: 1.3em;
    color: white;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    height: 100%;
    font-size: 1.5em;
    border: 1px solid #333;
}

.wheelstack-context-menu-button:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wheelstack-context-menu-button.move {
    min-width: 50%;
    background-color: #76bed0;
}

.wheelstack-context-menu-button.move:hover {
    background-color: #8abecb;
}

.wheelstack-context-menu-button.move.order-marking {
    background-color: #cc2323;
    min-width: 50%;
    max-width: 70%;
    margin-left: 15%;
    grid-column: span 2;
    grid-row: span 2;
}

.wheelstack-context-menu-button.move.order-marking:hover {
    background-color: #d14a4a;
    min-width: 50%;
    max-width: 70%;
    margin-left: 15%;
}

.wheelstack-context-menu-button.processing {
    min-width: 22%;
    background-color: #6daa6d;
}

.wheelstack-context-menu-button.processing:hover {
    background-color: #5b945b;
}

.wheelstack-context-menu-button.reject {
    min-width: 22%;
    background-color: #e57373;
}

.wheelstack-context-menu-button.reject:hover {
    background-color: #d32f2f;
}

.wheelstack-context-menu-button.storage {
    min-width: 22%;
    background-color: #6a939f;
}

.wheelstack-context-menu-button.storage:hover {
    background-color: #7ea3ae;
}

.wheel-blocked {
    background-color: #cb3b3b;
}

.wheel-blocked:hover {
    background-color: #da7a7a;
}


.wheelstack-context-menu-row.batch-highlight {
    background-color: rgb(196, 3, 209);
}

.wheelstack-context-menu-row.batch-row {
    max-width: 100%;
    margin: 0% 10% 0% 10%;
    align-content: center;
}

/* EXTRA ELEMENTS MENU */
.wheelstack-extra-elements-menu-container {
    position: absolute;
    background-color: #f1f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1111132;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;   
}

.wheelstack-extra-elements-menu-row {
    margin: 10px;
    display: flex;
    background-color: #ebe8e8;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.wheelstack-extra-elements-menu-row p {
    padding: 5px 10px 5px 10px;
    width: 90%;
    max-width: 90%;
    height: 100%;
    color: #333;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

.wheelstack-extra-elements-menu-row.chosen-highlight {
    background-color: #02ff52;
}

.wheelstack-context-menu-button.extra-confirm {
    background-color: #123f21;
    align-self: center;
    margin: 5% 10% 5% 10%;
    width: 70%;
    font-size: 1.3em;
    max-height: 50px;
    padding: 0px;
}

.wheelstack-context-menu-button.extra-reject {
    background-color: #da7a7a;
    align-self: center;
    margin: 5% 10% 5% 10%;
    width: 70%;
    font-size: 1.3em;
    max-height: 50px;
    padding: 0px;
}

.wheelstack-context-menu-button.extra-confirm:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.wheelstack-context-menu-button.extra-reject:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


.wheelstack-context-menu-button.extra-storage {
    background-color: #6a939f;
    align-self: center;
    margin: 5% 10% 5% 10%;
    width: 70%;
    font-size: 1.3em;
    max-height: 50px;
    padding: 0px;
}

.wheelstack-context-menu-button.extra-storage:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
