@import url("../../../../designConstants.css");


.cell{
    height: var(--cell-height);
    width: var(--cell-width);
    border-radius: var(--cell-border-radius);
    border: var(--cell-border-size) var(--standard-border-style) var(--primary-color);
    background-color: var(--cell-background-color);
    align-items: var(--cell-align-items);
    justify-content: var(--cell-justify-content);
    display: var(--cell-display);
    cursor: pointer;
}

.cell p {
    font: var(--font-primary);
    margin: var(--cell-text-margin);
    font-size: var(--cell-text-font-size);
}

.cell:hover{
    background-color: var(--cell-background-hover);
    box-shadow: var(--standard-box-shadow);
}


.cell-blocked{
    background-color: var(--cell-background-color-blocked);
}

.cell-empty{
    background-color: var(--empty-cell-background-color);
}

.cell-empty-blocked{
    background-color: var(--empty-cell-background-color-blocked);
}

.cell-identifier{
    height: var(--cell-height);
    width: var(--cell-width);
    border-radius: var(--cell-border-radius);
    background-color: var(--grids-container-main-background);
    align-items: var(--cell-align-items);
    justify-content: var(--cell-justify-content);
    display: var(--cell-display);
}

.cell-identifier p {
    font: var(--font-primary);
    margin: var(--cell-text-margin);
    font-size: var(--identifier-font-size);
}

.cell-whitespace{
    height: var(--cell-height);
    width: var(--cell-width);
    border: var(--cell-border-size) var(--standard-border-style) var(--primary-color);
    visibility: var(--whitespace-visibility);
}

.cell-grid {
    height: var(--cell-grid-height);
    width: var(--cell-grid-width);
}

.cell-grid p {
    font: var(--font-primary);
    margin: var(--cell-text-margin);
    font-size: var(--cell-grid-font-size);
}


.mark-available {
    background-color: #6565d5;
}

.mark-source {
    background-color: #1d1dd1;
}
