* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-half {
  display: flex;
  flex: 0 0 40vh;
  border-bottom: 2px solid #ccc; /* Optional: Add a border between halves */
}

.column {
  flex: 1;
  border-right: 1px solid #ccc; /* Add borders between columns */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 40VH;
  overflow-y: auto;
}

.column:last-child {
  border-right: none; /* Remove the border for the last column */
}

/* TestColumn1*/
.column1 {
  flex: 1;
  border-right: 1px solid #ccc; /* Add borders between columns */
  display: flex;
  flex-direction: column; /* Align children horizontally */
  align-items: center;
  max-height: 40vh;
  max-width: 18vw;
  min-width: 250px;
  min-height: 250px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.wheel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  height: 50%;
  box-sizing: border-box;
  /* padding: 10px; */
}
/* ---- */


.bottom-half {
  flex: 1;
  position: relative;
  height: 60VH; /* 60% of the viewport height */
  width: 100VW;
}

.viewport {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  overflow: hidden;
  position: relative;
}

.grid-container {
  position: absolute;
  transform-origin: top left;
  background-color: whitesmoke;
  will-change: transform;
}

.wheelStack {
  width: 10px;
  height: 10px;
  border: 0.1px solid  #1c0080;
  overflow: hidden;
}

.button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.rowCoordinate {
  height: max-content;
  width: max-content; 
  display: flex;
}

#flashMessage {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

#flashMessage.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  min-width: 200px;  /* Set a minimum width to prevent squishing */
  white-space: nowrap;  /* Prevent text from wrapping */
  overflow: hidden;  /* Hide overflow */
  text-overflow: ellipsis;  /* Add ellipsis for overflowing text */
  z-index: 1000;
}

.context-menu div {
  margin-bottom: 5px;  /* Space out items for readability */
}

.context-menu .context-menu-option {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  text-align: center;
}

.context-menu .context-menu-option:hover {
  background-color: #ddd;
}

.context-menu-option:hover {
  background-color: #f1f1f1;
}

.context-menu-move-stack-button {
  width: 100%;
  margin-bottom: 10px; /* Add some space between the add button and other buttons */
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
}

.context-menu-move-stack-button:hover {
  background-color: #0056b3;
}

.wheel-details-menu {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 10px;
  min-width: 128px;
  max-width: 384px;
}


/* Set table layout to fixed */
.order-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* Style for table headers */
.order-table th {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Set specific widths for headers */
.order-table th:nth-child(1) { /* ID column */
  width: 60%;
}

.order-table th:nth-child(2) { /* Status column */
  width: 40%;
}

/* Style for table rows */
.order-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


