@import url("../../../../designConstants.css");

.cells-row {
    display: flex;
    flex-direction: row;
    
}

.cells-row-grid {
    gap: var(--cells-row-grid-gap)
}

.cells-row-platform {
    gap: var(--cells-row-platform-gap);
}

