@import url("../../../../designConstants.css");


.grid-container {
    display: var(--grid-container-display);
    flex-direction: var(--grid-container-flex-direction);
    border: var(--grid-container-border);
    position: var(--grid-container-position);
    top: var(--grid-container-top);
    left: var(--grid-container-left);
    transform-origin: var(--grid-container-transform-origin);
    transition: var(--grid-container-transition);
    padding: var(--grid-container-padding);
    gap: var(--grid-container-gap);
}

/* EXTRA ELEMENTS */

.extra-elements-container {
    position: var(--extra-elements-container-position);
    top: var(--extra-elements-container-top);
    left: var(--extra-elements-container-left);
    width: var(--extra-elements-container-width);
    border: var(--extra-elements-container-border);
    background-color: var(--extra-elements-container-background-color);
    box-shadow: var(--extra-elements-container-box-shadow);
    z-index: var(--extra-elements-container-z-index);
}

.extra-elements-header {
    background-color: var(--extra-elements-header-background-color);
    padding: var(--extra-elements-header-padding);
    cursor: var(--extra-elements-header-cursor);
    user-select: var(--extra-elements-header-user-select);
    color: var(--extra-elements-header-color);
    font-weight: var(--extra-elements-header-font-weight);
    text-align: var(--extra-elements-header-text-align);
    font-size: var(--extra-elements-header-font-size);
}

.extra-elements-content {
    max-height: var(--extra-elements-content-max-height);
    overflow-y: var(--extra-elements-content-overflow-y);
    transition: var(--extra-elements-content-transition);
    background-color: var(--extra-elements-content-background-color);
    border-top: var(--extra-elements-content-border-top);
}


.batch-elements-container {
    position: absolute;
    top: 15px;
    left: 350px;
    width: 320px;
    border: 1px solid #333;
    background-color: var(--grids-container-main-background);
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    z-index: 10000;
}
