:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --viewport-main-background: whitesmoke;
    /* PLATFORMS CONTAINER */
    --platforms-container-height: 100%;
    --platforms-container-width: 100%;
    --platforms-container-display: flex;
    --platforms-container-align-items: center;
    --platforms-container-justify-content: center;
    --platforms-container-flex-direction: column;
    --platforms-container-vertical-gap: 7px;
    /* CELL */
    --cell-height: 125px;
    --cell-width: 125px;
    --cell-border-radius: 50%;
    --cell-background-color: #F5F5F5;
    --cell-background-hover: #61a98a33;
    --cell-background-color-blocked: #904747;
    --cell-text-color: #333333;
    --cell-border-size: 4px;
    /* EMPTY CELL */
    --empty-cell-background-color-blocked: #a97676;
    /* WHITESPACE */
    --whitespace-background-color: whitesmoke;
    --whitespace-visibility: hidden;
    /* ALL ELEMENTS */
    --standard-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    --standard-border-style: solid;
    --standard-padding: 10px;
    --standard-border-size: 1px;
    /* FONTS */
    --font-primary: "Helvetica, Arial, sans-serif";
    --font-secondary: "Georgia, serif";
}