<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приямок</title>
    {% include "favicon.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/managerPage/managerStyling.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="top-half" id="topContainer">
            <div class="platforms-container" id="platformsContainer">
            </div>
            <div class="order-tables-container" id="orderTablesContainer">
            </div>
        </div>
        <div class="bottom-half" id ="botContainer">
            <div class="grids-container" id="gridsContainer"></div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/managerPage/js/mainScript.js') }}"></script>
</body>
</html>
