<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История</title>
    {% include "iconLink.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/historyPage/css/basicStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap/bootstrap.min.css') }}">
</head>
<body>
    <div class="main-page-container">
        <div id="topContainer" class="main-page-top-container">
            <div id="platformsContainer" class="platforms-container select-active">
                <button id="switchView" title="Сменить активный вид платформы" class="btn btn-secondary rounded-circle switch-view hidden" alt="Сменить активный вид платформы">X</button>
                <div id="platformSelectInputGroup" title="Выбор платформы для отображения" class="input-group input-group-lg mb-3 justify-content-center">
                    <select id="platformsSelector" class="form-select border-secondary fw-bold select-platform" title="Выбор платформы для отображения" alt="Выбор платформы для отображения">
                        <option selected value="">Обновите данные...</option>
                    </select>
                </div>
                <div id="platformSelectButtons" class="button-group justify-content-center">
                    <button id="refreshPlatforms" title="Обновить список доступных платформ" class="btn btn-lg btn-outline-secondary mx-2" alt="Обновить список доступных платформ">Обновить</button>
                    <button id="selectPlatform" title="Выбрать доступную платформу" class="btn btn-lg btn-secondary mx-2" alt="Выбрать доступную платформу">Выбрать</button>
                </div>
                <div id="platformHistorySlider" class="history-slider-container platform hidden">
                    <div id="dateInput" class="input-group">
                        <input id="startDateTime" title="Начальная дата периода среза истории" type="datetime-local" class="form-control" placeholder="Start DateTime" alt="Начальная дата для истории">
                        <input id="endDateTime" title="Конечная дата периода среза истории" type="datetime-local" class="form-control" placeholder="End DateTime" alt="Конечная дата для истории">
                        <button id="loadData" title="Загрузить данные за выбранный период" class="btn btn-secondary" alt="Загрузить данные за выбранный период">Загрузить</button>
                    </div>
                    <div id="platformHistory" class="date-slider-container hidden">
                        <button id="periodChange" title="Изменить период среза истории" class="btn btn-dark me-3" alt="Изменить период среза истории">Период</button>
                        <button id="prevRecord" title="Выбрать предыдущую запись" class="btn btn-outline-light" alt="Выбрать предыдущую запись">
                            <img class="shift-image" src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="предыдущая запись истории">
                        </button>
                        <select id="platformsHistorySelector" title="Выбрать запись истории" class="form-select border-light fw-bold select-date" alt="Выбрать запись истории">
                            <option selected value="">Выберите запись...</option>
                        </select>
                        <button id="nextRecord" title="Выбрать следующую запись" class="btn btn-outline-light" alt="Выбрать следующую запись">
                            <img class="shift-image" src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="следующая запись истории">
                        </button>
                    </div>
                </div>
            </div>
            <div id="ordersTableContainer" class="orders-table-container">
                <table id="ordersTable" class="orders-table">
                    <thead>
                        <tr>
                            <th id="batchNumber" title="Номер партии учавствующей в заказе">Номер партии</th>
                            <th id="orderId" title="Номер заказа для идентификации">Номер заказа</th>
                            <th id="orderType" title="Тип заказа переноса">Тип заказа</th>
                            <th id="source" title="Исходная позиция для перемещения (Место забора)">Исходная</th>
                            <th id="destination" title="Конечная позиция для перемещения (Место помещения)">Конечная</th>
                            <th id="createdAt" title="Время поступления заказа в систему">Время поступления</th>
                        </tr>
                    </thead>
                    <tbody id="ordersTableBody">
                        <tr id="platformBreaker" title="Разделитель данных. Все заказы ниже него относятся к платформе" class="data-breaker"><td colspan="6">Нет данных для отображения: <b>платформа</b></td></tr>
                        <tr id="gridBreaker" title="Разделитель данных. Все заказы ниже него относятся к приямку" class="data-breaker"><td colspan="6">Нет данных для отображения: <b>приямок</b></td></tr>
                    </tbody>
                </table>  
            </div>   
        </div>
        <div id="botContainer" class="main-page-bottom-container">
            <div id="gridsContainer" class="grids-container select-active">
                <button id="switchViewGrid" title="Сменить активный вид приямка" class="btn btn-secondary rounded-circle switch-view grid hidden" alt="Сменить активный вид приямка">X</button>
                <div id="gridSelectInputGroup" title="Выбор приямка для отображения" class="input-group input-group-lg mb-3 justify-content-center">
                    <select id="gridsSelector" class="form-select border-secondary fw-bold select-grid" title="Выбор приямка для отображения" alt="Выбор приямка для отображения">
                        <option selected value="">Обновите данные...</option>
                    </select>
                </div>
                <div id="gridSelectButtons" class="button-group justify-content-center">
                    <button id="refreshGrids" title="Обновить список доступных приямков" class="btn btn-lg btn-outline-secondary mx-2" alt="Обновить список доступных приямков">Обновить</button>
                    <button id="selectGrid" title="Выбрать доступный приямок" class="btn btn-lg btn-secondary mx-2" alt="Выбрать доступный приямок">Выбрать</button>
                </div>
                <div id="gridHistorySlider" class="history-slider-container grid hidden">
                    <div id="dateInput" class="input-group grid">
                        <input id="startDateTime" title="Начальная дата периода среза истории" type="datetime-local" class="form-control" placeholder="Start DateTime" alt="Начальная дата для истории">
                        <input id="endDateTime" title="Конечная дата периода среза истории" type="datetime-local" class="form-control" placeholder="End DateTime" alt="Конечная дата для истории">
                        <button id="loadData" title="Загрузить данные за выбранный период" class="btn btn-secondary" alt="Загрузить данные за выбранный период">Загрузить</button>
                    </div>
                    <div id="gridHistory" class="date-slider-container hidden">
                        <button id="periodChange" title="Изменить период среза истории" class="btn btn-dark me-3" alt="Изменить период среза истории">Период</button>
                        <button id="prevRecord" title="Выбрать предыдущую запись" class="btn btn-outline-light" alt="Выбрать предыдущую запись">
                            <img class="shift-image" src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="предыдущая запись истории">
                        </button>
                        <select id="gridHistorySelector" title="Выбрать запись истории" class="form-select border-light fw-bold select-date" alt="Выбрать запись истории">
                            <option selected value="">Выберите запись...</option>
                        </select>
                        <button id="nextRecord" title="Выбрать следующую запись" class="btn btn-outline-light" alt="Выбрать следующую запись">
                            <img class="shift-image" src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="следующая запись истории">
                        </button>
                    </div>
                </div>
            </div>
            <div id="gridContainer" class="grid-container hidden"></div>
            <div class="extra-bot-container">
                <div class="extra-buttons-container">
                    <button id="fullScreen" title="Полный экран" class="btn btn-secondary btn-lg extra-button" alt="Полный экран"><img src="{{ url_for('static', filename='images/expand.png') }}" alt="кнопка полного экрана"></button>
                    <button id="foldScreen" title="Свернуть экран" class="btn btn-secondary btn-lg extra-button hidden" alt="Свернуть экран"><img src="{{ url_for('static', filename='images/exit-fullscreen.png') }}" alt="кнопка сворачивания экрана"></button>
                    <button id="hidePlatform" title="Спрятать платформу" class="btn btn-secondary btn-lg extra-button" alt="Спрятать платформу"><img src="{{ url_for('static', filename='images/hide.png') }}" alt="кнопка скрытия платформы"></button>
                    <button id="showPlatform" title="Показать платформу" class="btn btn-secondary btn-lg extra-button hidden" alt="Показать платформу"><img src="{{ url_for('static', filename='images/show.png') }}" alt="кнопка отображения платформы"></button>
                </div>
                <form id="batchSearchForm">
                    <div class="form-group position-relative dropup">
                        <input id="batchSearchField" title="Выбор партии для выделения" alt="Выбор партии" type="text" class="form-control form-control-lg fs-5" placeholder="Выберите партию..." autocomplete="off"/>
                        <button id="clearBatchSearch" title="Отмена выделения" alt="Отмена выделения партии" type="button" class="clear-btn btn-secondary" aria-label="Cancel batch search">&times;</button>
                        <ul id="batchResults" class="dropdown-menu w-100"></ul>
                    </div>
                    <button type="submit" class="d-none"></button> <!-- Hidden submit button for form submission -->
                </form>
                <form id="wheelsSearchForm">
                    <div class="form-group position-relative dropup">
                        <input id="wheelsSearchField" title="Выбор колеса для выделения" alt="Выбор колеса" type="text" class="form-control form-control-lg fs-5" placeholder="Выберите колесо..." autocomplete="off"/>
                        <button id="clearWheelsSearch" title="Отмена выделения" alt="Отмена выделения колеса" type="button" class="clear-btn btn-secondary" aria-label="Cancel wheels search">&times;</button>
                        <ul id="wheelsResults" class="dropdown-menu w-100"></ul>
                    </div>
                    <button type="submit" class="d-none"></button> <!-- Hidden submit button for form submission -->
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/historyPage/js/main.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
