<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приямок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gridRel/basicStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gridRel/placementStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedStyle.css') }}">
</head>
<body>
    <div class="main-page-container">
        <div id="topContainer" class="main-page-top-container hidden">
            <div id="platformsContainer" class="platforms-container select-active">
                <button id="switchViewPlatform" title="'Сменить активный вид платформы" class="btn switch-view hidden" alt="Сменить активный вид платформы"><img src="{{ url_for('static', filename='images/show.png') }}" alt="Картинка переключения видимости платформы"></button>
                <div id="platformSelectInputGroup" title="Выбор платформы для отображения" class="input-group input-group-lg mb-3 justify-content-center hidden">
                    <select id="platformsSelector" class="form-select border-secondary fw-bold select-platform" title="Выбор платформы для отображения" alt="Выбор платформы для отображения">
                    </select>
                    <div id="platformSelectButtons" class="button-group justify-content-center">
                        <button id="selectPlatform" title="Выбрать доступную платформу" class="btn btn-lg btn-secondary mx-2" alt="Выбрать доступную платформу">Выбрать</button>
                    </div>
                </div>
            </div>
            <div id="ordersTableContainer" class="orders-table-container">
                <table id="ordersTable" class="orders-table">
                    <thead>
                        <tr>
                            <th id="batchNumber" title="Номер партии участвующей в заказе">Партия</th>
                            <!-- <th id="orderId" title="Номер заказа для идентификации">Номер</th> -->
                            <th id="orderType" title="Тип заказа переноса">Тип</th>
                            <th id="source" title="Исходная позиция для перемещения (Место забора)">Исходная</th>
                            <th id="destination" title="Конечная позиция для перемещения (Место помещения)">Конечная</th>
                            <th id="createdAt" title="Время поступления заказа в систему">Время</th>
                        </tr>
                    </thead>
                    <tbody id="ordersTableBody">
                    </tbody>
                </table>  
            </div>   
        </div>
        <div id="botContainer" class="main-page-bottom-container">
            <button id="switchViewGrid" title="Сменить активный вид приямка" class="btn switch-view grid hidden" alt="Сменить активный вид приямка"><img src="{{ url_for('static', filename='images/show.png') }}" alt="Картинка переключения видимости приямка"></button>
            <div id="gridsContainer" class="grids-container select-active">
                <!-- <img class="logo logo-grid cant-be-hidden" src="{{ url_for('static', filename='images/pmk_emblem.png') }}"> -->
                <!-- GRID SELECTOR -->
                <div id="gridSelectInputGroup" title="Выбор приямка для отображения" class="input-group input-group-lg mb-3 justify-content-center hidden">
                    <select id="gridsSelector" class="form-select border-secondary fw-bold select-grid" title="Выбор приямка для отображения" alt="Выбор приямка для отображения">
                    </select>
                    <div id="gridSelectButtons" class="button-group justify-content-center">
                        <button id="selectGrid" title="Выбрать доступный приямок" class="btn btn-lg btn-secondary mx-2" alt="Выбрать доступный приямок">Выбрать</button>
                    </div>
                </div>
                <!-- GRID SELECTOR -->
            </div>
            <div id="gridContainer" class="grid-container hidden"></div>
            <!-- PAGE VIEW  -->
            <div id="viewButtonsContainer"class="extra-bot-container hidden">
                <div id="viewButtons" class="extra-buttons-container">
                    <button id="gridFull" title="Полный экран" class="extra-button" alt="Кнопка переключения полного экрана"><img src="{{ url_for('static', filename='images/expand.png')}}" alt="Картинка переключения полного экрана"></button>
                    <button id="platformVis" title="Показать челноки" alt="Кнопка переключения видимости челноков" class="extra-button"><img src="{{ url_for('static', filename='images/platformNotVisible.png')}}" alt="Картинка переключения видимости челноков"></button>
                    <button id="ordersVis" title="Показать таблицу заказов" alt="Кнопка переключения видимости таблицы заказов" class="extra-button"><img src="{{ url_for('static', filename='images/ordersNotVisible.png')}}" alt="Картинка переключения видимости таблицы заказов"></button>
                </div>
                <button id="viewSlider" title="Опции вида" class="extra-button slider-button" alt="Кнопка отображения кнопок управления видом"><img src="{{ url_for('static', filename='images/right-arrow.png')}}" alt="Картинка переключения видимости кнопок управления видом"></button>
            </div>
            <!-- PAGE VIEW  -->
        </div>
    </div>
    <script type="module" src="{{  url_for('static', filename='js/rebuildGrid/js/main.js') }}"></script>
</body>
</html>
